# yii console commands
/yii
/yii_test
/yii_test.bat

# composer vendor dir
/components
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

/assets/web/backend/pub
/assets/web/common/pub
/assets/web/frontend/pub

# environments folder
/environments

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

# project scratch
/z.gitignore
